
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
.hight{
height: 200px!important;
width: 200px!important;
text-align: center!important;
}



.car{
    
    background-color:#343a40;
    width: 30%;
    margin: auto;
    border-radius: .5rem;
    margin-bottom: 3rem;
    padding: 1rem;
    filter:drop-shadow(3px 3px 5px #2f2f3a);
}
.phot{
    display: block;
    height: 150px;
    width: 150px;
    margin: auto;
    margin-bottom: 1rem;
}
.textst{
    background-color: #424a53;
    color: black;
    text-align: center;
    border-radius: .5rem;
}
.csa{
    
    margin: auto;
    margin-bottom: 5px;

}
.tile{
    color: white;
    
}
.botams{
    
    text-align: center;
}


@media only screen and (max-width: 599px) {
    
    .car{
    
        background-color:#343a40;
        width: 80%;
        margin: auto;
        border-radius: .5rem;
        margin-bottom: 3rem;
        padding: 1rem;
        filter:drop-shadow(3px 3px 5px #2f2f3a);
  }
  .mob{
      display: none;
  }
}

@media only screen and (min-width: 600px) {
    
    .car{
    
        background-color:#343a40;
        width: 75%;
        margin: auto;
        border-radius: .5rem;
        margin-bottom: 3rem;
        padding: 1rem;
        filter:drop-shadow(3px 3px 5px #2f2f3a);
  }
  .mob{
      display: none;
  }
}

@media only screen and (min-width: 800px) {
    
    .car{
    
        background-color:#343a40;
        width: 55%;
        margin: auto;
        border-radius: .5rem;
        margin-bottom: 3rem;
        padding: 1rem;
        filter:drop-shadow(3px 3px 5px #2f2f3a);
  }
  .mob{
      display: none;
  }
}

@media only screen and (min-width: 1200px) {
    
    .car{
    
        background-color:#343a40;
        width: 30%;
        margin: auto;
        border-radius: .5rem;
        margin-bottom: 3rem;
        padding: 1rem;
        filter:drop-shadow(3px 3px 5px #2f2f3a);
  }
  .mob{
      display: none;
  }
}